<title>TEST Dashboard</title>

                <div class="container-fluid">


                    <div class="row">
                        <div class="col-md-8 no-pad">
                            <!-- render circles -->

                            <div class="row">
                                <div class="mar-10">
                                    <h2>Stats</h2>
                                    <hr>
                                </div>
                                   <%= render "application/stats" %> 
                            </div>

                            <!-- render checkups -->

                            <div class="row">
                                <div class="mar-10">
                                    <h2>Checkups</h2>
                                    <hr>
                                </div>
                                   <%= render "application/checkups" %> 
                            </div>

                            <!-- End Checkups -->

                            <!-- render circles -->

                            <div class="row">
                                <div class="mar-10">
                                    <h2>Circles</h2>
                                    <hr>
                                </div>
                                   <%= render "application/circles" %> 
                            </div>

                            <!-- End circles -->

                            <div class="row">
                                <div class="col-md-12 no-pad">
                                    <!-- Activity -->
                                    <div class="panel mar-10">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <strong>Activity</strong>
                                                <small> / Your social activity</small>
                                            </div>
                                        </div>
                                        <div class="panel-body panel-full">
                                            <div class="feed-element mar-h-20">
                                                <div class="pull-left r-mar-10" >
                                                    <a href="javascript:void(0);">
                                                        <img alt="Warren Beatty" class="img-thumbnail" data-src="holder.js/42x42?text=WB&theme=social&size=12" >
                                                    </a>
                                                </div>
                                                <div class="feed-element-body">
                                                    <small class="pull-right feed-element-time">
                                                        5m ago @ 14:20 pm
                                                        <div class="btn-group l-mar-5">
                                                            <a class="btn btn-xs social-facebook-color pad-h-5"><i class="fa fa-thumbs-up"></i></a>
                                                            <a class="btn btn-xs social-twitter-color pad-h-5"><i class="fa fa-twitter"></i></a>
                                                        </div>
                                                    </small>
                                                    <strong>Warren Beatty</strong> (@wbeatty) started following you.<br>
                                                    <p class="to-justify mt-5">
                                                        I love your account and <span loremizer loremizer-words="20" loremizer-no-p></span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="feed-element mar-h-20">
                                                <div class="pull-left r-mar-10" >
                                                    <a href="javascript:void(0);">
                                                        <img alt="Peter Boussa" class="img-thumbnail" data-src="holder.js/42x42?text=PB&theme=social&size=12">
                                                    </a>
                                                </div>
                                                <div class="feed-element-body">
                                                    <small class="pull-right feed-element-time">03/05/2020 @ 13:20 pm</small>
                                                    <strong>You</strong> started following <strong>Martin Scout</strong>.<br>
                                                    <div class="mt-5 to-justify">
                                                        <span loremizer loremizer-words="24" loremizer-no-p></span>
                                                    </div>
                                                    <div class="mt-5">
                                                        <a class="btn btn-xs social-facebook-color"><i class="fa fa-thumbs-up r-mar-5"></i>Like</a>
                                                        <a class="btn btn-xs social-twitter-color"><i class="fa fa-twitter r-mar-5"></i>Follow</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="feed-element mar-h-20">
                                                <div class="pull-left r-mar-10">
                                                    <a href="javascript:void(0);">
                                                        <img alt="Patrick Wallentines" class="img-thumbnail" data-src="holder.js/42x42?text=PW&theme=sky&size=12" >
                                                    </a>
                                                </div>
                                                <div class="feed-element-body">
                                                    <small class="pull-right feed-element-time">
                                                        Yesterday @ 11:21 am
                                                        <div class="btn-group l-mar-5">
                                                            <a class="btn btn-xs social-facebook-color pad-h-5"><i class="fa fa-thumbs-up"></i></a>
                                                            <a class="btn btn-xs social-twitter-color pad-h-5"><i class="fa fa-twitter"></i></a>
                                                        </div>
                                                    </small>
                                                    <strong>Patrick Wallentines</strong> posted new content.<br>
                                                    <p class="to-justify mt-5">
                                                        Sometimes in live <span loremizer loremizer-words="50" loremizer-no-p></span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="feed-element mar-h-20">
                                                <div class="pull-left r-mar-10" >
                                                    <a href="javascript:void(0);">
                                                        <img alt="Martin Scout" class="img-thumbnail" data-src="holder.js/42x42?text=MS&theme=social&size=12" >
                                                    </a>
                                                </div>
                                                <div class="feed-element-body">
                                                    <small class="pull-right feed-element-time">
                                                        03/05/2020 @ 13:20 pm
                                                        <div class="btn-group l-mar-5">
                                                            <a class="btn btn-xs social-facebook-color pad-h-5"><i class="fa fa-thumbs-up"></i></a>
                                                            <a class="btn btn-xs social-twitter-color pad-h-5"><i class="fa fa-twitter"></i></a>
                                                        </div>
                                                    </small>
                                                    <strong>Martin Scout</strong> (@mscoutter) started following you.<br>
                                                    <p class="to-justify mt-5">
                                                        <span loremizer loremizer-words="36"></span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="feed-element mar-h-20 nbb">
                                                <div class="pull-left r-mar-10" >
                                                    <a href="javascript:void(0);">
                                                        <img alt="Pietro McOussa" class="img-thumbnail" data-src="holder.js/42x42?text=PM&theme=social&size=12" >
                                                    </a>
                                                </div>
                                                <div class="feed-element-body">
                                                    <small class="pull-right feed-element-time">
                                                        08/05/2020 @ 16:20 pm
                                                        <div class="btn-group l-mar-5">
                                                            <a class="btn btn-xs social-facebook-color pad-h-5"><i class="fa fa-thumbs-up"></i></a>
                                                            <a class="btn btn-xs social-twitter-color pad-h-5"><i class="fa fa-twitter"></i></a>
                                                        </div>
                                                    </small>
                                                    <strong>Pietro McOussa</strong> (@pmcoussa) started following you.<br>
                                                    <p class="to-justify mt-5">
                                                        <span loremizer loremizer-words="12"></span>
                                                    </p>
                                                </div>
                                            </div>
                                            <a class="btn btn-block btn-success">
                                                Show more...
                                            </a>
                                        </div>
                                    </div>
                                    <!-- / Activity -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 no-pad">
                                    <!-- Comments -->
                                    <div class="widget bg-primary">
                                        <div class="widget-icon bg-primary-light">
                                            <div id="sparkline-pie"></div>
                                        </div>
                                        <div class="widget-content ">
                                            <div class="row">
                                                <div class="col-md-4 to-center">
                                                    <div>Positive comments</div>
                                                    <div class="fs-20"><strong>128</strong> <small class="fs-12">/ 61.5%</small></div>
                                                </div>
                                                <div class="col-md-4 to-center">
                                                    <div>Pending comments</div>
                                                    <div class="fs-20"><strong>64</strong> <small class="fs-12">/ 30.8%</small></div>
                                                </div>
                                                <div class="col-md-4 to-center">
                                                    <div>Negative comments</div>
                                                    <div class="fs-20"><strong>16</strong> <small class="fs-12">/ 7.7%</small></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / Comments -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 no-pad">
                        <!-- Render Prescription -->
                        <div class="mar-10">
                            <div class="mar-10">
                                <h2>Prescription</h2>
                                <hr>
                            </div>
                            <%= render "application/prescription" %> 
                        </div>
                        <!-- End Prescription -->

                            <!-- Contacts -->
                            <div class="panel mar-10">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <strong>Contacts</strong>
                                        <small> / Keep in contact</small>
                                    </div>
                                </div>
                                <div class="panel-body panel-full">
                                    <ul class="striped-list no-mb">
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                    <i class="fa fa-user fa-3x opacity-25"></i>
                                                </div>
                                                <div class="col-xs-7 l-pad-10">
                                                    Ronald C. Stevens
                                                    <br/>
                                                    <i class="fa fa-circle color-success r-pad-5"></i><small>Online</small>
                                                </div>
                                                <div class="col-xs-3 to-right">
                                                    <span class="label social-facebook-color label-s">
                                                        <i class="fa fa-facebook"></i>
                                                    </span>
                                                    <br/><i><small>Yesterday</small></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                    <i class="fa fa-fax fa-3x opacity-25"></i>
                                                </div>
                                                <div class="col-xs-7 l-pad-10">
                                                    Chanell W. Orcutt
                                                    <br/>
                                                    <i class="fa fa-circle color-success r-pad-5"></i><small>Online</small>
                                                </div>
                                                <div class="col-xs-3 to-right">
                                                    <span class="label social-facebook-color label-s">
                                                        <i class="fa fa-facebook"></i>
                                                    </span>
                                                    <br/><i><small>2 days ago</small></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                             <div class="row">
                                                <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                    <i class="fa fa-user fa-3x opacity-25"></i>
                                                </div>
                                                <div class="col-xs-7 l-pad-10">
                                                    Blake J. Gibson
                                                    <br/>
                                                    <i class="fa fa-circle color-success r-pad-5"></i><small>Online</small>
                                                </div>
                                                 <div class="col-xs-3 to-right">
                                                    <span class="label social-google-color label-s">
                                                        <i class="fa fa-google-plus"></i>
                                                    </span>
                                                    <br/><i><small>last week</small></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                    <i class="fa fa-institution fa-3x opacity-25"></i>
                                                </div>
                                                <div class="col-xs-7 l-pad-10">
                                                    Laura E. Fagin
                                                    <br/>
                                                    <i class="fa fa-circle color-danger r-pad-5"></i><small>Offline</small>
                                                </div>
                                                <div class="col-xs-3 to-right">
                                                    <span class="label social-twitter-color label-s">
                                                        <i class="fa fa-twitter"></i>
                                                    </span>
                                                    <br/><i><small>22 oct</small></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                    <i class="fa fa-user-md fa-3x opacity-25"></i>
                                                </div>
                                                <div class="col-xs-7 l-pad-10">
                                                    Bobby V. Becker
                                                    <br/>
                                                    <i class="fa fa-circle color-success r-pad-5"></i><small>Online</small>
                                                </div>
                                                <div class="col-xs-3 to-right">
                                                    <span class="label social-linkedin-color label-s">
                                                        <i class="fa fa-linkedin"></i>
                                                    </span>
                                                    <br/><i><small>11 dec</small></i>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="btn btn-block  btn-success">
                                        Show all my contacts...
                                    </a>
                                </div>
                            </div>
                            <!-- / Contacts -->

                            <!-- Notifications -->
                            <div class="panel mar-10">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <strong>Notifications</strong>
                                    </div>
                                    <div class="panel-control">
                                        <span class="label label-warning">10 notifications</span>
                                    </div>
                                </div>
                                <div class="panel-body panel-full">
                                    <ul class="striped-list no-mb">
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                    <i class="fa fa-twitter fa-3x opacity-25"></i>
                                                </div>
                                                <div class="col-xs-10 l-pad-10">
                                                    You have one new follower!
                                                    <br/>
                                                    <small>@deeTemplate is following you</small>
                                                    <br/>
                                                    <i><small>12/11/2022 11:26h</small></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                    <i class="fa fa-facebook fa-3x opacity-25"></i>
                                                </div>
                                                <div class="col-xs-10 l-pad-10">
                                                    You have one new friend!
                                                    <br/>
                                                    <small>Dee Admin Template is your friend</small>
                                                    <br/>
                                                    <i><small>12/11/2022 11:11h</small></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                    <i class="fa fa-envelope fa-3x opacity-25"></i>
                                                </div>
                                                <div class="col-xs-10 l-pad-10">
                                                    You have 4 new mails!
                                                    <br/>
                                                    <small>Go to webmail to read it</small>
                                                    <br/>
                                                    <i><small>12/11/2022 11:01h</small></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                    <i class="fa fa-linkedin-square fa-3x opacity-25"></i>
                                                </div>
                                                <div class="col-xs-10 l-pad-10">
                                                    Someone visited you professional profile!
                                                    <br/>
                                                    <small>Go to Linkedin and check-it</small>
                                                    <br/>
                                                    <i><small>12/11/2022 10:42h</small></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                                    <i class="fa fa-google-plus fa-3x opacity-25"></i>
                                                </div>
                                                <div class="col-xs-10 l-pad-10">
                                                    You have been added to the Dee Circle!
                                                    <br/>
                                                    <small>Go to Google+ and check-it</small>
                                                    <br/>
                                                    <i><small>12/11/2022 10:31h</small></i>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="btn btn-block btn-success">
                                        Load more notifications...
                                    </a>
                                </div>
                            </div>
                            <!-- / Notifications -->

                            <!-- Today's tasks -->
                            <div class="panel mar-10">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <div class="panel-title">
                                            <strong>Today's tasks</strong>
                                            <small> / You have 5 tasks</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body panel-full">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="label label-danger">10:00h</span>
                                            <label class="option no-mb">
                                                <input type="checkbox" name="varcb1">
                                                <span class="checkbox checkbox-thin"></span>
                                                <span class="l-mar-5">
                                                    Partner evaluation
                                                </span>
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="label label-warning">11:00h</span>
                                            <label class="option no-mb">
                                                <input type="checkbox" name="varcb2">
                                                <span class="checkbox checkbox-thin"></span>
                                                <span class="l-mar-5">
                                                    Do maintenance work in server
                                                </span>
                                            </label>
                                        </li>
                                        <li class="list-group-item ">
                                            <span class="label label-warning">12:00h</span>
                                            <label class="option no-mb">
                                                <input type="checkbox" name="varcb3">
                                                <span class="checkbox checkbox-thin"></span>
                                                <span class="l-mar-5">
                                                    Check server status (Database)
                                                </span>
                                            </label>
                                        </li>
                                        <li class="list-group-item ">
                                            <span class="label label-warning">12:30h</span>
                                            <label class="option no-mb">
                                                <input type="checkbox" name="varcb4">
                                                <span class="checkbox checkbox-thin"></span>
                                                <span class="l-mar-5">
                                                    Meeting with partners
                                                </span>
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="label label-success">17:00h</span>
                                            <label class="option no-mb">
                                                <input type="checkbox" name="varcb5">
                                                <span class="checkbox checkbox-thin"></span>
                                                <span class="l-mar-5">
                                                    Video conference with Australia
                                                </span>
                                            </label>
                                        </li>
                                    </ul>
                                    <a class="btn btn-block btn-success">
                                        Show all tasks...
                                    </a>
                                </div>
                            </div>
                            <!-- / Today's tasks -->
                        </div>
                    </div>

                </div>

            </div>
            <%= render "application/session" %>



