<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>TODO</strong> task list
        </div>
    </div>
    <div class="panel-body">
        <div id="todos">
            <div class="iconed-input mb-5 input-group">
	          	<%= form_for(@new_task, html:{id: "task-form"}) do |f| %>
                <i class="fa fa-tasks"></i>
                <%= f.text_field :name, class: "form-control", id: "todonew", placeholder: "Create a new task..." %>
                <span class="input-group-btn">
                    <button id="addtask" type="submit" class="btn btn-success">
                      <i class="fa fa-plus"></i>
                    </button>
                </span>
              <% end %>
            </div>
            <ul id="todolist"
                class="todolist list-unstyled sortable ui-sortable mt-10"
                data-sortable-connect=".sortable"
                data-sortable-axis="y">
                <li class="header">Pending tasks</li>
            </ul>
            <ul id="oldtodolist"
                class="todolist list-unstyled sortable ui-sortable"
                data-sortable-connect=".sortable"
                data-sortable-axis="y">
                <li class="header">Completed tasks - <small>Tasks marked as complete</small></li>
            </ul>
        </div>
    </div>
    <div class="panel-footer">
        You have <span id='todocount' class="bold"></span> tasks
    </div>

</div>

<script>
$('#addtask').click(function() {
  $.post('/tasks', function(response) {
    debugger
  })
    // appendTask('#todolist', $('#todonew').val(), false);
});
</script>
