<%= form_for(@appointment) do |f| %>

  <div class="field">
    <%= f.label :doctor %><br>
    <%= f.text_field :doctor %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :reasons %><br>
    <%= f.text_area :reasons %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<!--   <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 -->