<div id="checkups-badges">
<% current_user.yearly_checkups.select { |yearly_checkup| yearly_checkup.checkup_date.year <= Date.current.year }.each.with_index(1) do |checkup, index| %>

    <div class="checkup <%= checkup.name.downcase %>-img" id="<%= index %>">
      <div class="info">
        <h3 class="text-center"><%= checkup.name %></h3>
        <hr>
        <p class="text-center"><%= checkup.location %></p>
        <p class="text-center"><%= distance_of_time_in_words(Date.current, checkup.checkup_date) %> left</p>
      </div>
      <div class="panel">
        <p><%= checkup.location %></p>
        <p><%= distance_of_time_in_words(Date.current, checkup.checkup_date) %> left</p>
      </div>
    </div>
<% end %>
</div>
