<div class="panel mar-10">
  <div class="panel-body">
    <h4 class="mb-10">
      <strong>Health Progress</strong>
      Expected / Real</h4>
    <div class="mt-10 mb-10" style="height: 256px">
      <canvas id="healthChart"></canvas>
    </div>
    <div class="row">
      <div class="col-md-4 no-h-pad">
        <div class="widget bg-default">
          <div class="widget-icon widget-icon-top bg-default-light to-center">
            <div id="calories-mini-chart"></div>
          </div>



          <!-- Accordion In Panel For calories-->
<div class="panel to-center">
    <div class="panel-heading">
        <div class="panel-title dark">
            Total <strong>Calories</strong> for the past five days
        </div>
    </div>

            <div class="panel panel-inverse">
                <div class="panel-heading" role="tab" id="heading-2">
                    <h5 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2" class="accordion-toggler">
                            Calories
                        </a>
                    </h5>
                </div>
                <div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                    <div class="panel-body dark total_calories">
                      <strong> Total Calories: </strong>
                      <p>0</p>
                      <%= text_field_tag :costum_calories %></br></br>
                      <%= button_tag(type: 'button', id: 'calculate_custom', class: 'btn-primary') do %>
                          <%= content_tag(:strong, 'Add to Total') %>
                      <% end %></br></br>
                      <div class="actions">
                          <%= f.submit class: 'btn-primary' %>
                      </div>
                      <%= hidden_field_tag 'calories', '0' %>
                    </div>
                </div>
            </div>

        </div>
      <% end %>
      <!-- End of calories form -->
    </div>
</div>
<!-- / Accordion In Panel -->

        </div>
      </div>
      <div class="col-md-4 no-h-pad">
        <div class="widget bg-default">
          <div class="widget-icon widget-icon-top bg-default-light to-center">
            <div id="sleep-mini-chart"></div>
          </div>

          <!-- Accordion In Panel For Sleep -->
<div class="panel to-center">
    <div class="panel-heading">
        <div class="panel-title dark">
            Total <strong>Sleep</strong> for the past five days
        </div>
    </div>

    <div class="panel-body panel-full">
        <div class="accordion panel-group no-mb" id="accordion-2" role="tablist" aria-multiselectable="false">

            <div class="panel panel-inverse">
                <div class="panel-heading" role="tab" id="heading-3">
                    <h5 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3" class="accordion-toggler">
                            Track Sleep
                        </a>
                    </h5>
                </div>
                <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
                    <div class="panel-body dark">
                      <!-- start of sleep form -->
                        <%= form_for(:sleep, html: {id: "sleep_form"}) do |f| %>
                          <div class="field">
                            <%= f.time_select :sleep, {:default => {:hour => '00', :minute => '00'}} %>
                          </div>
                           <div class="actions">
                            <%= f.submit class: 'btn-primary' %>
                          </div>
                        <% end %>
                      <!-- end sleep form -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- / Accordion In Panel -->



        </div>
      </div>
      <div class="col-md-4 no-h-pad">
        <div class="widget bg-default">
          <div class="widget-icon widget-icon-top bg-default-light to-center">
            <div id="exercise-mini-chart"></div>
          </div>

          <!-- Accordion In Panel For Exercise-->
<div class="panel to-center">
    <div class="panel-heading">
        <div class="panel-title dark">
            Total <strong>Exercise</strong> for the past five days
        </div>
    </div>
    <div class="panel-body panel-full">
        <div class="accordion panel-group no-mb" id="accordion-3" role="tablist" aria-multiselectable="false">

            <div class="panel panel-inverse">
                <div class="panel-heading" role="tab" id="heading-4">
                    <h5 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-3" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4" class="accordion-toggler">
                            Track Exercise
                        </a>
                    </h5>
                </div>
                <div id="collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4">
                    <div class="panel-body dark">
                      <!-- start of exercise form -->
                        <%= form_for(:exercise, html: {id: "exercise_form"}) do |f| %>
                          <div class="field">
                            <%= f.time_select :exercise, {:default => {:hour => '00', :minute => '00'}} %>
                          </div>
                           <div class="actions">
                            <%= f.submit class: 'btn-primary'%>
                          </div>
                        <% end %>
                      <!-- end of exercise form -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- / Accordion In Panel -->
        </div>
      </div>
    </div>
  </div>
</div>
