<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<p id="notice"><%= notice %></p>

<p>
  <h1 class="circle-title"><%= @circle.name %></h1>
</p>

<%= form_tag '/circles/add_user', class: "new_user" do %>
  <%= hidden_field_tag "circle[name]", @circle.name %>
  <%= label_tag "user[id]", "User ID:"%>
    <%= number_field_tag "user[id]"%>
  <%= submit_tag "Join Circle"%>
<% end %>

<% unless @circle.users.empty? %>
  <div class="circle-body">

    <div class="circle-members">
      <ul class="list-group">
        <% @circle.users.uniq.each do |u| %>
          <li class="member list-group-item">
            <%= image_tag u.avatar(:thumb), class: "member-img" %>
            <div class="member-name"><%= u.first_name %></div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="circle-chart">
      <canvas id="circleChart" width="450" height="450"></canvas>
      <ul class="circle-legend">
        <li class="circle-legend-li energized">
          <div class="legend-li-icon"></div>
          <div class="legend-li-label">Energized</div>
        </li>
        <li class="circle-legend-li just-fine">
          <div class="legend-li-icon"></div>
          <div class="legend-li-label">Just Fine</div>
        </li>
        <li class="circle-legend-li exhausted">
          <div class="legend-li-icon"></div>
          <div class="legend-li-label">Exhausted</div>
        </li>
        <li class="circle-legend-li mildly-sick">
          <div class="legend-li-icon"></div>
          <div class="legend-li-label">Mildly Sick</div>
        </li>
        <li class="circle-legend-li very-sick">
          <div class="legend-li-icon"></div>
          <div class="legend-li-label">Very Sick</div>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_circle_path(@circle) %> |
<%= link_to 'Back', circles_path %>

<script>

  // ======================================================
  // Doughnut Chart
  // ======================================================

  // Doughnut Chart Options


  var doughnutOptions = {
    //Boolean - Whether we should show a stroke on each segment
    segmentShowStroke : true,

    //String - The colour of each segment stroke
    segmentStrokeColor : "#fff",

    //Number - The width of each segment stroke
    segmentStrokeWidth : 2,

    //The percentage of the chart that we cut out of the middle.
    percentageInnerCutout : 50,

    //Boolean - Whether we should animate the chart
    animation : true,

    //Number - Amount of animation steps
    animationSteps : 100,

    //String - Animation easing effect
    animationEasing : "easeOutBounce",

    //Boolean - Whether we animate the rotation of the Doughnut
    animateRotate : true,

    //Boolean - Whether we animate scaling the Doughnut from the centre
    animateScale : true,

    //Function - Will fire on animation completion.
    onAnimationComplete : null
  };


  // Doughnut Chart Data
  var doughnutData = [
    {
      value: <%= @circle.statuses[:energized] %>,
      color:"#10cc84"
    },
    {
      value: <%= @circle.statuses[:just_fine] %>,
      color : "#1dc8e2"
    },
      {
      value : <%= @circle.statuses[:exhausted] %>,
      color : "#b457f2"
    },

    {
      value : <%= @circle.statuses[:mildly_sick] %>,
      color : "#ef7b45"
    },
      {
      value : <%= @circle.statuses[:very_sick] %>,
      color : "#ed3b3b"
    },
    {
      value : <%= @circle.undefined_status%>,
      color : "gray"
    }

  ];


  //Get the context of the Doughnut Chart canvas element we want to select
  var ctx = document.getElementById("circleChart").getContext("2d");

  // Create the Doughnut Chart
  var mydoughnutChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);

</script>
